body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pill{
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  border: 1px solid #aaa;
  border-radius: 25px;
  color: #fff;
  margin: 0.1rem;
}

:root{
  --normal: #a9a878;
  --fire: #f07f2f;
  --water: #6890f0;
  --grass: #78c84f;
  --electric: #f8d030;
  --ice: #98d8d8;
  --fighting: #c6332c;
  --poison: #a040a1;
  --ground: #e0c069;
  --flying: #a890f0;
  --psychic: #f85888;
  --bug: #a8b821;
  --rock: #b7a038;
  --ghost: #705798;
  --dragon: #7038f9;
  --dark: #6f5848;
  --steel: #b8b8d0;
  --fairy: #ff9be3; 
}